$color-text: #3e3e3e;
$color-text-light: #727272;

$color-primary: hsl(42, 100%, 38%);
$color-primary-dark: darken($color-primary, 15);
$color-primary-light: #ffd026;

$color-secondary: #3e3e3e;

$color-shadow: rgba(0, 0, 0, 0.3);
$color-shadow-light: rgba(#3e3e3e, .2);


$color-btn: white;
$color-btn-secondary: #3e3e3e;

$color-success: #25d366;
$color-danger: red;
$color-warning: orange;

$color-wp: #25d366;

$white: #fff;
$gray: #9b9b9b;