.modal {
    position: fixed;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    &__content {

        height: 650px;
        width: 500px;
        background-color: white;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transform: translate(-50% -50%);

        & label {
            display: flex;
            flex-direction: column;
            margin: 1rem;
        }

        & input {
            
        }



        & fieldset {
            margin: 1rem 0;
        }

    }

}

.close {
    position: fixed;
    z-index: 99;
    bottom: 0;
    right: 0;
    padding: 3rem;
    background-color: blue;
    color: white;
}