.terrenos-title {
    width: 100vw;
    background-color: $color-text;
    color: white;
    padding: 4rem 0;
    margin: 5rem 0;

    & h1 {
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1.2;
        font-size: 2rem;
        text-align: center;

        & strong {
            display: block;
            font-size: 3.5rem;
        }
    }
}

#terrenos {
    animation-name: appear;
    animation-duration: 1s;
}


.terrenos {
    animation-name: appear;
    animation-duration: 1s;
    max-width: 95%;
    width: 1350px;
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    transition: .3s all ease-in-out;

    &__img {
        animation-name: appear;
        animation-duration: 1s;
        position: relative;
        width: 100%;
        flex: 0 1 calc(70% - 1rem);
        transition: .3s all ease-in-out;
    }

    &__info {
        animation-name: appear;
        animation-duration: 1s;
        width: 90%;
        flex: 0 1 calc(30% - 1rem);
        transition: .3s ease-in-out;

        & h3.select-lot {
            margin-top: 4rem;
            transition: .3s ease-in-out;
        }

        & .lot {
            animation-name: appear;
            animation-duration: 1s;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 90%;
            margin: 0 auto;
            transition: .3s ease-in-out;

            &__title {
                margin-bottom: 3rem;
                animation-name: appear;
                animation-duration: 1s;
                transition: .3s ease-in-out;
            }

            &__field {
                align-self: flex-start;
                line-height: 2.5rem;
                animation-name: appear;
                animation-duration: 1s;
                transition: .3s ease-in-out;

                &.area {
                    margin: 2rem 0;
                    transition: .3s ease-in-out;
                }

                &.svcs {
                    color: lighten($color-text, 40);
                    font-size: 1.5rem;
                    align-self: center;
                    margin: 4rem;
                    animation-name: appear;
                    animation-duration: 1s;
                    transition: .3s ease-in-out;
                }
            }

            &__info {
                color: $color-text;
                width: 500px;
                max-width: 90%;
                transition: .3s ease-in-out;

                &__item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 2rem 0;
                    border-bottom: 1px solid $color-text;
                    transition: .3s ease-in-out;

                    &:last-child {
                        border: none;
                    }

                    & svg {
                        height: 4rem;
                        width: 4rem;
                    }
                }
            }

            &__btn {
                color: white;
                background-color: $color-success;
                padding: 1rem 2rem;
                transition: .3s ease-in-out;
                margin-top: 4rem;
                text-transform: uppercase;
                animation-name: appear;
                animation-duration: 1s;

                &:hover {
                    background-color: darken($color-success, 10);
                    @include shadow-light;
                }

                &.sold {
                    background-color: $color-danger;
                    cursor: pointer;
                }
            }

        }



    }

    &__base {
        position: absolute;
        top: 0;
        left: 0;
    }

    & .cls-1 {
        // stroke: rgb(172, 172, 172);
        stroke: white;
        stroke-width: 3px;
        transition: .3s all ease-in-out;
        cursor: pointer;


    }

    & .available .cls-1 {
        fill: rgb(172, 172, 172);

        &:hover {
            fill: $color-success;
        }
    }

    & .unavailable .cls-1 {
        fill: $color-danger;

        &:hover {
            fill: darken($color-danger, 10);
        }
    }

    & .selected .cls-1 {
        fill: cornflowerblue;

        &:hover {
            fill: darken(cornflowerblue, 10)
        }
    }

    @include respond(tab-port) {
        flex-direction: column;
        align-items: center;

        &__info {

            & .lot {
                margin-top: 3rem;
            }
        }
    }

}
